/dts-v1/;
/plugin/;

/ {
        fragment@0 {
               target = <&soc_m5621>;
               __overlay__ {
                      android {
                      };
               };
        };
};
